// 呼叫 html 標籤，例如: nav ，稱作 類型選擇
// 呼叫 id ，例如<li id="test"></li>，id="test"，「#」ID選擇器；「#test」
// 呼叫 class，class="test1"，「.」類別選擇器；「.test1」
// scss 1.巢狀寫法 2.變數 $name

header {
  .nav1 {
    @include DN;
  }
  .nav2 {
    @include DN;
  }
  .Mnav1 {
    @include DB;
    /*
      浮動對齊的問題 float
      1. #Logo 與 #fav 物件的父框架=nav，無寬度
      2. nav的父框架=header，高度消失(因內容物浮起)
      解決方式
      1. nav的父框架=header，給予高度或nav給予高度
      2. 清除浮動狀態，由nav設定
      */
    float: left;
    background-color: rgb(251, 255, 0);
    width: 100%;
    border-bottom: rgb(161, 161, 161) solid 1px;
    // display: flex;
    #Logo {
      width: $W10 * 1.5;
      float: left;
    }
    #fav {
      width: $W10 * 1.5;
      float: right;
    }
  }
  .Mnav1Sup {
    width: 100%;
    height: $W10 * 1.5;
  }
  .SearchM {
    margin: 10px 20px 10px 20px;
    #SearchM {
      width: 100%;
      height: $W10 * 1;
    }
  }
  #Navbar {
    @include DB;
    background-color: rgb(240, 146, 147);
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    z-index: 10;
    #menuM {
      float: left;
      @include LFW(2, 0);
      height: $W10 * 1.5;
    }
    #homeM {
      float: left;
      @include LFW(2, 0);
      height: $W10 * 1.5;
    }
    #mailM {
      float: left;
      @include LFW(2, 0);
      height: $W10 * 1.5;
    }
    #cartM {
      float: left;
      @include LFW(2, 0);
      height: $W10 * 1.5;
    }
    #memberM {
      float: left;
      @include LFW(2, 0);
      height: $W10 * 1.5;
    }
  }
}
article {
  background-color: rgb(221, 221, 221);
  #Banner {
    background-color: aqua;
  }
  #FourSort {
    @include DN;
  }
  #MFourSort {
    @include DB;
    margin-top: 20px;
    background-color:white;
    line-height: $W10 * 2;
    // height: $W10 * 1.5;
    display: flex;
    text-align: center;
    box-shadow: 0px 0px 1px 0px  ;
    #women{
      flex: 1;
      border-right: 0.1px grey solid;
    }
    #men{
      flex: 1;
      border-right: 0.1px grey solid;
    }
    #kids{
      flex: 1;
      border-right: 0.1px grey solid;
    }
    #baby{
      flex: 1;
    }
  }
  #MSixSort {
    @include DB;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0px 0px 1px 0px  ;
    #one {
      display: flex;
      line-height: $W10 * 2;
      text-align: center;
      border-bottom: 0.1px grey solid;
      #one1{
        flex: 1;
        border-right: 0.1px grey solid;
      }
      #one2{
        flex: 1;
      }
    }
    #two {
      display: flex;
      line-height: $W10 * 2;
      text-align: center;
      border-bottom: 0.1px grey solid;
      #two1{
        flex: 1;
        border-right: 0.1px grey solid;
      }
      #two2{
        flex: 1;
      }
    }
    #three {
      display: flex;
      line-height: $W10 * 2;
      text-align: center;
      border-bottom: 0.1px grey solid;
      #three1{
        flex: 1;
        border-right: 0.1px grey solid;
      }
      #three2{
        flex: 1;
      }
    }
  }
  section{
    margin-top: 20px;
  }
}
footer {
  .footers{
    text-align: center;
    p{
      line-height: 35px;
    }
  }
  .Blank {
    width: 100%;
    height: $W10 * 1.5;
  }
}